html {
    background: #fff;
}

body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10 px solid #242424;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

article {
    background-color: bisque;
}

p {
    line-height: 1.6em; 
}

#blog {
    border-top: 5px dotted #fff;
}

.blog_post {
    border-bottom: 5px dotted #fff;
}

.sticky {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    background-color: blanchedalmond;
}

tr, th {
    border: 1px solid #242424;
}

th, td {
    border: 1px dotted black;
}






