html {
    background: #fff;
}

body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10 px solid #242424;
}

h1 {
    font-size: 3em;
    margin: 0;
}

article {
    background-color: bisque;
}

p {
    line-height: 1.6em; 
}

#blog {
    border-top: 5px dotted #fff;
}

.blog_post {
    border-bottom: 5px dotted #fff;
}

.sticky {
    position: sticky;
    top: 0;
}


